$informatik-primary: #83cddf;
$informatik-light: #afddea;
$informatik-dark: #74b7c7;

$administration-primary: #c2e4eb;
$administration-light: #d6ecf2;
$administration-dark: #adcad1;

$multimedia-primary: #c9dfac;
$multimedia-light: #d9e9c6;
$multimedia-dark: #b2c69a;

$design-primary: #a6d5c0;
$design-light: #c4e2d4;
$design-dark: #93bdac;
